<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393510478049-udk0mjekfcf02g335re1q4h7q4knhiiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393510478049-udk0mjekfcf02g335re1q4h7q4knhiiq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393510478049-d6rjdqsmoshd1p2pa6qvaprgnv6ht509.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtbW3idPjLre5rUI83Wji3y9g3vlpfpPM</string>
	<key>GCM_SENDER_ID</key>
	<string>393510478049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pandascode.flashcards.ios</string>
	<key>PROJECT_ID</key>
	<string>flashcards-5984c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcards-5984c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393510478049:ios:9db5cc099ba854041b57a0</string>
</dict>
</plist>